@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');  

.font-anton {  
    font-family: 'Anton', sans-serif;  
}

/* Default Marquee Animation */
.marquee {
    display: flex;
    gap: 2rem;
    animation: marquee 30s linear infinite;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .marquee {
        animation-duration: 15s; /* Faster scrolling for mobile */
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Fade-in and fade-out animations */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) { /* Adjust the max width according to your needs */  
    .slide2 {  
        height: auto; /* Remove the fixed height for screens smaller than 768px */  
    }  
}  

html{
    scroll-behavior: smooth;
}

