@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');  

.font-anton {  
    font-family: 'Anton', sans-serif;  
}

/* Marquee styles */  
/* Marquee styles */
.marquee {
    display: flex;
    gap: 2rem;  /* Adjust spacing between items */
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Start from the right edge */
    }
    100% {
        transform: translateX(-100%); /* Move to the left edge */
    }
}

/* Fade-in and fade-out animations */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

html{
    scroll-behavior: smooth;
}
